#rgbar{
    animation:rgbBg 10s linear infinite;
    background:linear-gradient(45deg,
    rgba(255,0,0,1) 0%,
    rgba(255,0,255,1) 18%,
    rgba(0,0,255,1) 30%,
    rgba(0,240,255,1) 45%,
    rgba(0,255,0,1) 63%,
    rgba(255,255,0,1) 80%,
    rgba(255,120,0,1) 90%,
    rgba(255,0,0,1) 100%);
    background-size:400% 400%;
    height:5px;
    position: relative;
}
@keyframes rgbBg{
0%{background-position:400% 0%}
100%{background-position:0% 400%}
}
